.container {
    display: flex;
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.item {
    border: 2px solid black;
    width: 400px;
    height: 400px;
    background-color: rgba(183, 230, 136, 0.172);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item1 {
    width: 150px;
    height: 150px;
}

.item3 {
    width: 300px;
    height: 300px;
}