.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 150px);
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.item1 {
    background-color:red;
    grid-column: auto / span 6;
}

.item2 {
    background-color: rgb(255, 149, 0);
    grid-row: auto / span 2;
}

.item3 { 
    background-color: yellow;
    grid-column: 2 / 6;
}

.item4 {
    background-color: rgba(0, 128, 83, 0.57);
    grid-row: auto / span 2;
}

.item5 { 
    background-color: rgba(245, 194, 43, 0.617);
    grid-column: auto / span 2;
}

.item6 { 
    background-color: rgba(153, 205, 50, 0.563);
    grid-column: 4 / 6;
}


.item7 {
    background-color:blue;
    grid-column: 1 / 7;
}