* {
    background-color: rgba(168, 197, 240, 0.071);
}

h1 {
    color: rgb(30, 45, 68);
    background-color: rgba(0, 64, 255, 0.11);
    font-size: xx-large;
    font-weight: 1000;
}

section {
    background-color: rgba(47, 102, 255, 0.153);
}

footer {
    font-size:small;
    color: rgba(47, 79, 107, 0.703);
}

a {
    font-size: small;
}

nav {
    float: right;
}

h2 {
    color: rgb(47, 85, 107);
}

h3 {
    color: rgb(35, 54, 77);  
}

p {
    font-size:small;
    color: rgb(21, 34, 48);
}